body {
    margin: 0;
    font-family: "Roboto mono";
    color: #595959;
    background-color: #f8f8f8;
}

header {
    max-width: 1000px;
    height: 100px;
    margin: 0 auto;
}
header img {
    float: left;
    margin-top: 13px;
}
nav {
    float: right;
    margin-top: 40px;
    font-size: 1em;
}
a {
    margin-left: 10px;
    color: #595959;
    text-decoration: none;
    font-weight: 500;
}
.last {
    text-transform: uppercase;
    border: 4px solid #595959;
    border-radius: 17px;
    padding: 3px 15px;
}
.last:hover {
    background-color: #595959;
    color: #f8f8f8;
    border-radius: 17px;
    padding: 3px 15px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}
div {
    max-width: 400px;
    margin-left: 5%;
}
.mergaite {
    max-width: 500px;
    margin-right: 5%;
}
h1 {
    font-size: 5em;
    font-weight: 500;
    margin-top: 1.5em;
    margin-bottom: 0;
    line-height: 1em;
}
div p {
    font-size: 1.4em;
    margin: 0;
    width: 82%;
    line-height: 40px;
}
footer {
    display: flex;
    align-items: center;
    margin-left: 10%;
    position: relative;
    bottom: -70px;
}
footer p {
    font-size: 0.8em;
}
.git {
    width: 20px;
    margin-top: 10px;
}
.copy {
    font-size: 1.5em;
}